In [7]:
s1=""
print(s1)

s2=str()   #print empty string 
print(s2)

In [8]:
s2 = str([11,22])  #type casting
print(s2)

[11, 22]

In [9]:
s3 = "khushi" #find tha element using index
print(s3[0])


s4 ="khushi"
print(s3[-1])

s5 ="khushi"
print(s5[ :2])

k
i
kh

In [10]:
s6 = "khushi"  #print string using for for loop
for e in s6:
    print(e,end="")

khushi

In [11]:
#built in function
s6 ="khushi"
len(s6)

6

In [12]:
s6 ="khushi"
max(s6)

'u'

In [13]:
s6 ="khushi"
min(s6)

'h'

In [14]:
s6 ="khushi"
sorted(s6)

['h', 'h', 'i', 'k', 's', 'u']

In [15]:
s1 ="khushi"     #using comparision operators
s2 ="parihar"
print(s1 >s2)

False

In [16]:
#methods of string
s7 ="khushi"
print(s7)
# s7.index("k")
# s7.index("kh")
# s7.count("k")
# s7.startswith("kh")
# s7 ="1234"
# s7.isdigit()
# s7 ="khushi"
# s7.islower()
# s7 ="khushi"
# s7.isupper()
# s7 ="khushi"
# s7.upper()
# s7 ="khushi"
# s7. replace("k","K")
s7.replace("h","H",s7.count("h"))

khushi

'kHusHi'

In [17]:
# some (i m p ) functions
a,b = 10,20
s8 ="sum of {} and {} is {}"  #print sum using formate functions
print(s8)
s8.format(a,b,a+b)

sum of {} and {} is {}

'sum of 10 and 20 is 30'

In [18]:
s8 ="sum of {2},and {1} is {0}"  #using formate function using indexing
s8.format(a , b,a+b)

'sum of 30,and 20 is 10'

In [ ]:
s9 ="my name is khushi parihar" #print a string ofor list formate using splite 
# s9.split(" ")                 
# s9.split("khushi")
# ls = input("enter number sepreted by comma")
# ls.split(,)
# ls1 =[int(x) for x in input("enter nymber".split(","))]