In [2]:
t1 =(1,2,3,4) #find type
print(type(t1))

<class 'tuple'>

In [4]:
t2 =()
print(type(t2))

<class 'tuple'>

In [7]:
t3 =(10) 
print(type(t3))

<class 'int'>

In [9]:
t4 =(10,)  #find a type of single value in tuple
print(type(t4))

<class 'tuple'>

In [11]:
t5 =10,30,40   #find type of tuple without using ()
print(type(t5))

<class 'tuple'>

In [13]:
t6 =30,40,50, #find type using last comma and without using parenthisis
print(type(t6))

<class 'tuple'>

In [15]:
t7 =(10,30,20,40) #find a value using indexed
print(t7[0])

10

In [23]:
r =range(10,20,1)
print(r[0])
print(r[1])
print(r[2])
print(r[3])
print(r[-1])
print(r[-2])

10
11
12
13
19
18

In [31]:
t8 =(10,20,30)  #built in function
print(len(t8))
print(min(t8))
print(max(t8))
print(sum(t8))
print(sorted(t8))
print(sorted(t8,reverse =True))

3
10
30
60
[10, 20, 30]
[30, 20, 10]

In [52]:
t9 =(10,30,40) #using index function
print(t9.index(10)) #provide a element index 
print(t9.index(30))

0
1

In [58]:
t9=(10,30,40)  #using count function in python
print(t9.count(10)) # what time element are ripyted
print(t9.count(30))
print(t9.count(40))

1
1
1

In [65]:
#siling operater [start:stop:step]
t9 =(1,2,3,4,5,6,7)
print(t9[1:5:1])
print(t9[ :3])
print(t9[0:])
print(t9[ ::-1])
print(t9[-1::])

(2, 3, 4, 5)
(1, 2, 3)
(1, 2, 3, 4, 5, 6, 7)
(7, 6, 5, 4, 3, 2, 1)
(7,)

In [1]:
# t10 =tuple([int(e) for e in input().split(",")])
# t10 =tuple()